$dark: #092641;
$white: #ffffff;
$transparent: transparent;
$base: #444444;

$primary: #ff7f42;

$primary-2: #e89800;

$primary-light: #dee8f6;

$danger-2: #d63e75;

$success-2: #00bd00;

$gray-1: #eff3f4;
$gray-2: #536471;
$gray-3: #777777;
$gray-4: #cccccc;

$box-shadow-1: 0 0 10px rgb(0 0 0 / 10%);

$imp: !important;

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
 (
   0: 0,
   1: ($spacer * .25),
   2: ($spacer * .5),
   3: $spacer,
   4: ($spacer * 1.5),
   5: ($spacer * 2),
   6: ($spacer * 2.5),
   7: ($spacer * 3),
   8: ($spacer * 3.5),
   9: ($spacer * 4),
   10: ($spacer * 4.5)
 ),
 $spacers
);

$font-sizes: (
  1: 2.25rem,
  2: 1.875rem,
  3: 1.5625rem,
  4: 1.25rem,
  5: 1.125rem,
  6: 1.025rem,
  7: 0.75rem,
  8: 0.25rem,
);
